#main {
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
}

#main input[type=file] {
    border: 0.5px solid gray;
    border-radius: 10px;
    min-width: 600px;
    min-height: 35px;
    padding: 15px 5px 5px 5px;
}

#main input[type=button] {
    padding: 10px;
    margin: 10px;
    min-width: 70px;
}